/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: Helvetica;
   background: #323c46;
   text-align: center;
   margin: 20px;
   color: #ccced1;
   text-shadow: 2px 1px 1px black;
 }

 div {
   margin-top: 50px;
 }

 a {
   color: #66b2ff;
 }

 a:hover {
   color: #b2d8ff;
 }

input[type=text] {
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  background-color: #ffffe5;
}


label {
  color: #66b2ff;
}

.button {
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px #66b2ff;
  font-size: 0.8em;
  color: #003366;
}

.add_link {
  color: #cc5490;
  font-size: 2em;
}

.add_link:hover {
  color: #ffb4d9;
}

img {
  margin: auto;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
